.container {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  min-height: 300px;
  min-width: 300px;
  font-family: Consolas, "Courier New", monospace;
}

.action {
  display: block;
  margin:10px;
}
